### Import Libraries

In [1]:
import json
import pandas as pd
import http.client
import requests
import datetime

In [2]:
#connection = http.client.HTTPConnection('api.football-data.org')
url = 'https://api.football-data.org/v2/competitions/PL/matches'
headers = { 'X-Auth-Token': '*********' }
response = requests.get(url, headers = headers)
result = json.loads(response.text)

In [4]:
import plotly
plotly.tools.set_credentials_file(username='adoh',api_key='eOypg265y6vHWAFV7GnP')
#with plotly
#import matplotlib.pyplot 
import plotly.plotly as py
from plotly.grid_objs import Grid, Column
from plotly.tools import FigureFactory as ff
import plotly.graph_objs as go
plotly.offline.init_notebook_mode(connected=True)

In [12]:
dictn = {}
teamname = {}
i = 0
j = 0
for res in result['matches']:   
    if res['status'] != "FINISHED" :
        continue
    
    if res['score']['winner'] == 'DRAW' :
        for x in range(0,2):
            dictn[i] = {}
            dictn[i]['id'] = res['id']
            dictn[i]['mDay'] = res['matchday']
            dictn[i]['status'] = 'DRAW'
            
            dictn[i]['teamName'] = res['homeTeam']['name'] if x % 2 ==0 else res['awayTeam']['name']
            
            if dictn[i]['teamName'] not in teamname:
                teamname[dictn[i]['teamName']] = 1
            else:
                teamname[dictn[i]['teamName']] += 1
            dictn[i]['score'] = teamname[dictn[i]['teamName']]
            
           
            utcDate = datetime.datetime.strptime(res['utcDate'][:10],'%Y-%m-%d')
            i += 1
           
    else:
        dictn[i] = {}
        dictn[i]['id'] = res['id']
        dictn[i]['mDay'] = res['matchday']
        dictn[i]['teamName'] = res['homeTeam']['name'] if res['score']['winner'] == 'HOME_TEAM' else res['awayTeam']['name']
        
        
        if dictn[i]['teamName'] not in teamname:
            teamname[dictn[i]['teamName']] = 3
        else:
            teamname[dictn[i]['teamName']] += 3
        
        
        dictn[i]['score'] = teamname[dictn[i]['teamName']] 
        
        dictn[i]['status'] = 'WIN'
        i +=1

In [13]:
df4 = pd.DataFrame.from_dict(dictn,orient='index')
df4

         id  mDay                    teamName  score status
0    233028     1        Manchester United FC      3    WIN
1    233026     1        Tottenham Hotspur FC      3    WIN
2    233024     1           Crystal Palace FC      3    WIN
3    233029     1                  Chelsea FC      3    WIN
4    233031     1                  Watford FC      3    WIN
5    233032     1             AFC Bournemouth      3    WIN
6    233023     1  Wolverhampton Wanderers FC      1   DRAW
7    233023     1                  Everton FC      1   DRAW
8    233025     1                Liverpool FC      3    WIN
9    233030     1              Southampton FC      1   DRAW
10   233030     1                  Burnley FC      1   DRAW
11   233027     1          Manchester City FC      3    WIN
12   233039     2             Cardiff City FC      1   DRAW
13   233039     2         Newcastle United FC      1   DRAW
14   233035     2        Tottenham Hotspur FC      6    WIN
15   233036     2                  Everton FC      4    WIN
16   233037     2           Leicester City FC      3    WIN
17   233040     2             AFC Bournemouth      6    WIN
18   233034     2                  Chelsea FC      6    WIN
19   233033     2          Manchester City FC      6    WIN
20   233038     2                  Watford FC      6    WIN
21   233042     2   Brighton & Hove Albion FC      3    WIN
22   233041     2                Liverpool FC      6    WIN
23   233043     3  Wolverhampton Wanderers FC      2   DRAW
24   233043     3          Manchester City FC      7   DRAW
25   233047     3                  Arsenal FC      3    WIN
26   233049     3       Huddersfield Town AFC      1   DRAW
27   233049     3             Cardiff City FC      2   DRAW
28   233050     3           Leicester City FC      6    WIN
29   233052     3             AFC Bournemouth      7   DRAW
..      ...   ...                         ...    ...    ...
341  233311    29                  Watford FC     43    WIN
342  233304    29                  Chelsea FC     56    WIN
343  233306    29                  Everton FC     37   DRAW
344  233306    29                Liverpool FC     70   DRAW
345  233322    30   Brighton & Hove Albion FC     33    WIN
346  233315    30         Newcastle United FC     34    WIN
347  233318    30           Leicester City FC     38    WIN
348  233319    30             AFC Bournemouth     37    WIN
349  233320    30             Cardiff City FC     28    WIN
350  233321    30              Southampton FC     30    WIN
351  233314    30          Manchester City FC     74    WIN
352  233313    30                Liverpool FC     73    WIN
353  233317    30                  Chelsea FC     57   DRAW
354  233317    30  Wolverhampton Wanderers FC     44   DRAW
355  233316    30                  Arsenal FC     60    WIN
356  233328    31           Leicester City FC     41    WIN
357  233329    31          West Ham United FC     42    WIN
358  233332    31             AFC Bournemouth     38   DRAW
359  233332    31         Newcastle United FC     35   DRAW
360  233324    31                Liverpool FC     76    WIN
361  233326    31                  Everton FC     40    WIN
362  233333    32          Manchester City FC     77    WIN
363  233336    32        Manchester United FC     61    WIN
364  233337    32           Leicester City FC     44    WIN
365  233338    32                  Burnley FC     33    WIN
366  233341    32           Crystal Palace FC     36    WIN
367  233342    32              Southampton FC     33    WIN
368  233340    32                  Everton FC     43    WIN
369  233339    32                  Chelsea FC     60    WIN
370  233334    32                Liverpool FC     79    WIN

[371 rows x 5 columns]

In [14]:
data = []
Nteam = ['Arsenal FC','Liverpool FC','Manchester City FC','Manchester United FC']
for win in Nteam:
    trace = go.Scatter(
        x = df4['mDay'].loc[(df4['teamName']==win)].sort_values(ascending=True),
        y = df4['score'].loc[(df4['teamName']==win)],
        name=win
    )
    data.append(trace)
plotly.offline.iplot(data,filename='basic-line')